/*Langages*/
.compLangage {
  display: grid;  
}

.compLangage h3 {
  font-weight: bold;
}

.compLangage h6 {
  font-style: italic;
}

.compLangage h3, h6 {
  text-align: center;
}

.compLangage img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

/*Paragraphe 1*/
.langFirstPart {
  grid-column: 1;
  grid-row: 2;

}

/*Paragraphe 2*/
.langSecPart {
  grid-column: 2;
  grid-row: 2;
 
}

/*Paragraphe 3*/
.langEndPart {
  grid-column: 3;
  grid-row: 2;

}

/*Autres Compétences Informatiques*/
.compInfo {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(210px,1fr));
}

/*Paragraphe 1*/
.infoFirstPart {

}

/*Paragraphe 2*/
.infoEndPart {

}
